.blog-post {
  max-width: 64rem;
  margin: 0 auto;
}

p, ul {
  line-height: 1.6;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-size: .85rem;
  text-align: center;
  color: #666;
  margin-top: .5rem;
  text-wrap: balance;
}

.thankyou {
  color: #666;
  margin-top: 2em;
  margin-bottom: 1em;
}

.thankyou a {
  color: inherit;
}

.feature-illustrations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin: 2rem 0;
}

@media (max-width: 64rem) {
  .feature-illustrations {
    grid-template-columns: 1fr;
  }
}

.feature-illustrations img {
  border-radius: 0.5rem;
  box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.08), 0 3px 5px -2px rgba(0, 0, 0, 0.04);
}
