p {
  line-height: 1.6rem;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-size: .85rem;
  text-align: center;
  color: #666;
  margin-top: .5rem;
  text-wrap: balance;
}

.thankyou {
  color: #666;
  margin-top: 2em;
  margin-bottom: 1em;
}

.thankyou a {
  color: inherit;
}
