<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }}</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" />
  {{ if .IsHome }}
  {{ $indexJS := resources.Get "js/index.js" | js.Build "js/index.js" | minify | fingerprint }}
  <script src="{{ $indexJS.Permalink }}" integrity="{{ $indexJS.Data.Integrity }}" type="module" defer></script>
  {{ end }}

  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .IsHome }}
    <meta property="og:title" content="Zen" />
    <meta name="description"
      content="Zen is a simple, free and efficient desktop application that helps you browse the internet and use your apps without annoying ads, trackers, or hidden threats." />
    <meta name="og:description"
      content="Zen is a simple, free and efficient desktop application that helps you browse the internet and use your apps without annoying ads, trackers, or hidden threats." />
    <meta property="og:url" content="https://zenprivacy.net/" />
    <meta property="og:type" content="website" />
  {{ else }}
    <meta property="og:title" content="{{ .Title }}" />
    <meta name="description" content="{{ .Description }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="article" />
  {{ end }}

  <meta property="og:image" content="https://zenprivacy.net/og-image.png" />
  <meta name="twitter:card" content="summary_large_image" />
</head>

<body>
  <div class="dots">
    <div class="primary-container">
      <header class="heading">
        <a href="/" class="heading__branding-link">
          <div class="heading__branding">
            <svg class="heading__logo" viewBox="0 0 20 20">
              <title>Zen logo</title>
              <path
                d="M10 20c6-3.81 9-9.048 9-15.714-2 0-5-1.429-9-4.286-4 2.857-7 4.286-9 4.286C1 10.952 4 16.19 10 20zm0-17.348c2.577 1.734 4.776 2.88 6.667 3.419-.44 4.627-2.636 8.353-6.667 11.297V2.652z"
                fill-rule="evenodd"></path>
            </svg>
            <h1 class="heading__title">Zen</h1>
          </div>
        </a>

        <nav>
          <ul class="heading__nav-list">
            <li>
              <a href="https://github.com/ZenPrivacy/zen-desktop" class="heading__nav-link" target="_blank"
                rel="noopener noreferrer">GitHub</a>
            </li>
            <li>
              <a href="https://discord.gg/jSzEwby7JY" class="heading__nav-link" target="_blank"
                rel="noopener noreferrer">Discord</a>
            </li>
            <li>
              <a href="https://opencollective.com/zen-privacy" class="heading__nav-link" target="_blank"
                rel="noopener noreferrer">Donate</a>
            </li>
          </ul>
        </nav>
      </header>
      <main class="content">
        {{ block "main" . }}{{ end }}
      </main>

      <footer class="footer">
        <div class="footer__inner">
          <div class="footer__section">
            <ul class="footer__nav-list">
              <li class="footer__nav-list-item"><strong>Legal</strong></li>
              <li class="footer__nav-list-item"><a href="/privacy-policy" class="footer__nav-list-link">Privacy
                  Policy</a></li>
              <li class="footer__nav-list-item"><a href="/terms" class="footer__nav-list-link">Terms of Use</a></li>
              <li class="footer__nav-list-item">
                <a href="https://github.com/ZenPrivacy/community/blob/main/CODE_OF_CONDUCT.md" target="_blank"
                  rel="noopener noreferrer" class="footer__nav-list-link">Code of Conduct</a>
              </li>
            </ul>

            <ul class="footer__nav-list">
              <li class="footer__nav-list-item"><strong>Community</strong></li>
              <li class="footer__nav-list-item">
                <a href="https://github.com/ZenPrivacy" target="_blank" rel="noopener noreferrer"
                  class="footer__nav-list-link">GitHub</a>
              </li>
              <li class="footer__nav-list-item">
                <a href="https://bsky.app/profile/zenprivacy.net" target="_blank" rel="noopener noreferrer"
                  class="footer__nav-list-link">Bluesky</a>
              </li>
              <li class="footer__nav-list-item"><a href="https://www.reddit.com/r/zenprivacy/" target="_blank"
                  rel="noopener noreferrer" class="footer__nav-list-link">Reddit</a>
              </li>
              <li class="footer__nav-list-item"><a href="https://discord.gg/jSzEwby7JY" target="_blank"
                  rel="noopener noreferrer" class="footer__nav-list-link">Discord</a></li>
              <li class="footer__nav-list-item"><a href="https://opencollective.com/zen-privacy" target="_blank"
                  rel="noopener noreferrer" class="footer__nav-list-link">Open Collective</a></li>
            </ul>

            <ul class="footer__nav-list">
              <li class="footer__nav-list-item"><strong>Contact</strong></li>
              <li class="footer__nav-list-item"><a href="mailto:contact@zenprivacy.net"
                  class="footer__nav-list-link">Email</a></li>
              <li class="footer__nav-list-item"><a
                  href="https://github.com/ZenPrivacy/zen-desktop/issues/new?template=bug_report.yaml" target="_blank"
                  rel="noopener noreferrer" class="footer__nav-list-link">Report an issue</a></li>
              <li class="footer__nav-list-item"><a
                  href="https://github.com/ZenPrivacy/zen-desktop/blob/master/SECURITY.md" target="_blank"
                  rel="noopener noreferrer" class="footer__nav-list-link">Security</a></li>
            </ul>
          </div>

          <p class="footer__copyright">
            Copyright © 2025 Zen Privacy Project Developers. Content available under <a
              href="https://creativecommons.org/licenses/by-sa/4.0/" rel="noopener noreferrer"
              class="footer__copyright-link">CC BY-SA 4.0</a>, unless stated otherwise. <br />
            Logo based on <a href="https://github.com/palantir/blueprint" target="_blank" rel="noopener noreferrer"
              class="footer__copyright-link">Blueprint</a> (Apache 2.0).
          </p>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>